@import './variables.scss';
@import './mixin.scss';
@import './navbar.scss';
@import './container.scss';
@import './icons.scss';
@import './navbar-lg.scss';
@import './item.scss';
@import './signin.scss';
@import './signup.scss';
@import './chart.scss';
@import './chart-dropdown.scss';



:root{
    font-size: 10px;

}
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
*{
    box-sizing: border-box;
}