.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  position: relative; }
  @media screen and (min-width: 600px) {
    .navbar {
      display: none; } }
  .navbar__logo {
    background-image: linear-gradient(to right, #0A0A0A, #7D7D7D);
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: transparent;
    margin-left: 1rem;
    background-clip: text;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 1.5rem; }
    .navbar__logo a {
      all: inherit; }
  .navbar__search__input {
    padding: 0.7rem 2rem;
    border-radius: 50px;
    border: none;
    background-color: #949494;
    margin-right: -4rem;
    width: 100%; }
  .navbar__search__button {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    background-color: #949494;
    border: none;
    cursor: pointer; }
  .navbar__hamburger {
    margin-left: 6rem; }
    @media screen and (min-width: 600px) {
      .navbar__hamburger {
        display: none; } }
    .navbar__hamburger__checkbox {
      display: none; }
    .navbar__hamburger__label {
      cursor: pointer;
      display: flex;
      justify-content: end;
      flex-direction: row; }
  .navbar__slide {
    width: 100%;
    height: 90vh;
    background-color: #212121;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    top: 100%;
    color: #949494;
    display: none;
    z-index: 100; }
    @media screen and (min-width: 600px) {
      .navbar__slide {
        display: none; } }
    .navbar__slide__links {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 100%; }
      .navbar__slide__links > a:hover {
        color: purple;
        transition: all 0.5s; }
    .navbar__slide a {
      font-size: 4rem;
      text-decoration: none;
      color: #949494;
      letter-spacing: 2px;
      border-bottom: 2px solid #949494;
      padding: 0.5rem 1rem; }

#navbar__slide:hover {
  color: purple; }

.trans {
  transform: translateX(200%);
  opacity: 0; }

.trans-back {
  transform: translateX(0%); }

.collapse {
  display: block;
  width: 100%;
  transition: all 0.4s; }

.container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 90%;
  min-height: 90%;
  margin: 0 auto;
  margin-top: 2rem; }
  @media screen and (min-width: 600px) {
    .container-mobile {
      display: none; } }

.container-lg {
  display: none; }
  @media screen and (min-width: 600px) {
    .container-lg {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 2rem;
      overflow: hidden; } }
  @media screen and (min-width: 600px) {
    .container-lg a {
      flex: 0 0 auto; } }

.menu-icon,
.cross-icon,
.search-icon {
  fill: #666666;
  transition: all 0.4s; }

.cross-icon {
  transform: translateX(200%);
  margin-right: 2rem; }

.search-icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-top: 0.5rem; }
  @media screen and (min-width: 600px) {
    .search-icon {
      fill: purple;
      margin-top: 2rem;
      display: inline-block; } }

.navbar-lg {
  display: none; }
  @media screen and (min-width: 600px) {
    .navbar-lg {
      display: flex;
      width: 100%;
      min-height: 10vh;
      justify-content: space-between;
      flex-direction: row;
      align-items: center; } }
  .navbar-lg__logo {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-right: 3rem;
    cursor: pointer; }
    .navbar-lg__logo a {
      all: inherit; }
  .navbar-lg__search {
    display: flex;
    flex: 1 1 33%; }
    .navbar-lg__search__form {
      width: 90%; }
      .navbar-lg__search__form__input {
        background-image: linear-gradient(to right, #0A0A0A, #949494);
        border-radius: 50px;
        border: none;
        height: 2.5rem;
        color: #fff;
        padding: 0.5rem 3rem;
        margin-right: -3.3rem;
        width: 70%; }
    .navbar-lg__search__button {
      border: none;
      background-color: transparent; }
  .navbar-lg__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 33%; }
    .navbar-lg__links a {
      font-size: 2rem;
      text-transform: capitalize;
      text-decoration: none;
      color: #666666;
      padding: 1rem;
      transition: all 0.5s; }
      @media screen and (min-width: 600px) and (max-width: 800px) {
        .navbar-lg__links a {
          font-size: 1.3rem; } }
      .navbar-lg__links a:hover {
        border-bottom: 1px solid purple; }
  .navbar-lg__link:active {
    border: unset; }

.item {
  overflow: hidden;
  max-width: 40rem;
  position: relative;
  margin-bottom: 2rem;
  border: 2px solid #212121; }
  @media screen and (min-width: 600px) {
    .item {
      overflow: hidden;
      width: 90%;
      height: auto;
      margin: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .item img {
    display: inline-block;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten; }
    @media screen and (min-width: 600px) {
      .item img {
        display: inline-block;
        flex: 1 1 auto;
        height: 30rem; } }
  .item__title {
    display: inline-block;
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212121;
    padding: 2rem 3rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  min-height: 70vh;
  margin: 0 auto; }
  .signin__email {
    padding: 1rem 2rem;
    border: none;
    border-bottom: 1px solid #666666;
    margin-bottom: 2rem; }
    .signin__email__label {
      font-size: 1.6rem;
      pointer-events: none;
      text-transform: capitalize;
      letter-spacing: 2px;
      transform: translateY(-80px); }
  .signin__password {
    padding: 1rem 2rem;
    border: none;
    border-bottom: 1px solid #666666;
    margin-bottom: 2rem; }
    .signin__password__label {
      font-size: 1.6rem;
      pointer-events: none;
      text-transform: capitalize;
      letter-spacing: 2px;
      transform: translateY(-80px); }
  .signin__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    @media screen and (min-width: 600px) {
      .signin__buttons {
        width: 15%; } }
    .signin__buttons-register {
      text-decoration: none;
      display: inline-block;
      font-weight: 500;
      letter-spacing: 2px;
      color: #666666;
      font-size: 1.3rem;
      margin-right: 1rem; }
      .signin__buttons-register:hover {
        color: #212121;
        font-size: 1.4rem; }
    .signin__buttons-submit {
      border: none;
      padding: 0.7rem 1.7rem;
      display: inline-block;
      border-radius: 5px;
      cursor: pointer; }
      .signin__buttons-submit:hover {
        background-color: #383838;
        color: #fff; }

input[type=email]:focus + label {
  color: purple;
  font-size: 1.2rem; }

input[type=password]:focus + label {
  color: purple;
  font-size: 1.2rem; }

input[type=text]:focus + label {
  color: purple;
  font-size: 1.2rem; }

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  min-height: 70vh;
  margin: 0 auto; }
  .signup input {
    padding: 1rem 2rem;
    border: none;
    border-bottom: 1px solid #666666;
    margin-bottom: 2rem; }
  .signup label {
    font-size: 1.6rem;
    pointer-events: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    transform: translateY(-80px); }
  .signup__submit {
    border: none;
    padding: 0.7rem 1.7rem;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer; }
    .signup__submit:hover {
      background-color: #383838;
      color: #fff; }

.chart {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .chart svg {
    fill: #4F4F4F; }
  .chart .item-count {
    position: absolute;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 5px; }

.dropdown {
  position: absolute;
  width: 24rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 7rem;
  right: 5rem;
  z-index: 5;
  border-radius: 5px; }
  .dropdown__item {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll; }
  .dropdown__button {
    margin-top: auto;
    padding: 1rem 2rem;
    border: none;
    color: #212121;
    text-transform: capitalize;
    background-color: #949494;
    border-radius: 5px;
    cursor: pointer; }
    .dropdown__button:hover {
      color: #fff;
      background-color: #212121; }
    .dropdown__button a {
      text-decoration: none;
      color: inherit; }

.dropdown-item {
  max-width: 25rem;
  max-height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid #0A0A0A; }
  .dropdown-item span {
    font-size: 1.3rem;
    padding: 0 5px; }
  .dropdown-item__pic {
    width: 5rem;
    height: 6rem;
    background-position: center;
    background-size: cover; }

.collection-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem; }
  .collection-item:hover > div {
    background-size: 150%;
    background-position: center; }
  .collection-item__img {
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 1s; }
    .collection-item__img span {
      font-size: 2rem;
      text-transform: capitalize;
      margin-bottom: 2rem;
      background-color: #212121;
      padding: 0.5rem 1rem;
      color: white;
      border-radius: 5px;
      opacity: 0.85;
      cursor: pointer;
      transition: all 0.5s; }
      .collection-item__img span:hover {
        background-color: #360136; }
  .collection-item__label {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    align-items: center;
    width: 100%;
    padding: 0.7rem 1rem; }
    .collection-item__label span {
      font-size: inherit;
      font-weight: 500; }

.collection-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 4rem;
  overflow: hidden; }

:root {
  font-size: 10px; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  box-sizing: border-box; }
